@font-face {
    font-family: "Onyx";
    src: url('sardonyx.eot');
    src: url('sardonyx.otf') format('truetype'),
         url('sardonyx.woff') format('woff'),
         url('sardonyx.eot?#iefix') format('embedded-opentype'),
         url('sardonyx.svg#sardonyxBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #C9C9C9;
    z-index: 7000;
}
#navbarNavDropdown a {
    color: #BF2F48;
    font-size: 15px;
}
#navplace {
    height: 50px;
}
h4 {
font-size: 20px;
font-weight: 700;
}
p {
font-size: 15px;
}
img {
position: relative;
}


#mentions{
text-align: center;
padding-top: 12px;
}
#mentions p {
font-size: 14px;
}


h3{
font-family: sergoe UI;
font-weight: bold;
color: #E94859;
font-size: 17px;
}
#sujet{
font-family: sergoe UI;
font-weight: bold;

}
#reseau {
background: -webkit-linear-gradient(white, grey);
background: -o-linear-gradient(white, grey);
background: -moz-linear-gradient(white, grey);
background: linear-gradient(white, grey);
}
#social {
    padding-bottom: 20px;
}
.pres{
    margin-top: 20px;
    margin-bottom: 20px;
}
.pres h2 {
    color: #BF2F48;
    font-family: 'Onyx', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
}
.bande {
    width: 100%;
    background-color: #BF2F48;
    color: #BF2F48;
    margin: auto;
    height: 15px;
    border: none;
}
#presentation div{
    padding: 0;
}
#presentation div img {
    width: 100%;
}
.mockup {
    text-align: center;
}
.mockup img{
    margin-top: 24px;
 }
fieldset {
    color: #BF2F48;
    font-size: 30px;
}
fieldset input {
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 20px;
}
#message {
    height: 150px;
}
form {
    margin-top: 50px;
    margin-bottom: 50px;
}