 div{
        border: 2px solid rgba(255,2,2,1);
        box-sizing: border-box;
    }
 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {
    //display: inline-block;
}
h4 {
    font-size: 20px;
    font-weight: 700;
}
p {
    font-size: 15px;
}
img {
    position: relative;
}


#mentions{
	text-align: center;
	padding-top: 12px;
}
#mentions p {
font-size: 14px;
}


h3{
    font-family: sergoe UI;
    font-weight: bold;
    color: #E94859;
    font-size: 18px;
}
#sujet{
    font-family: sergoe UI;
    font-weight: bold;

}
#reseau {
    background: -webkit-linear-gradient(white, grey);
    background: -o-linear-gradient(white, grey);
    background: -moz-linear-gradient(white, grey);
    background: linear-gradient(white, grey);
}
.mockup {
    text-align: center;
}
.mockup img{
    margin-top: 24px;
 }
